.ytp-back-to-comment-button {
  opacity: 90%;
  position: absolute;
  bottom: 65px;
  top: auto;
  font-size: 111% !important;
  left: 50%;
  transform: translateX(-50%);
}

.ytp-back-to-comment-button:hover {
  opacity: 100%;
}

#body.ytd-comment-view-model {
  transition: background-color 1s ease;
}

#body.ytd-comment-view-model.highlight {
  background-color: #e8ecf4;
}

html[dark] #body.ytd-comment-view-model.highlight {
  background-color: #272924;
}

.ad-showing .ytp-back-to-comment-button,
.ytp-big-mode .ytp-back-to-comment-button.is-safari {
  opacity: 0;
}

.ytp-big-mode .ytp-back-to-comment-button {
  bottom: 70px;
}
